<h1>Tasks for <%= @list.name %> in <%= @school_year.name %></h1>

<%= link_to "New Task", new_school_year_list_task_path(@school_year, @list) %>

<!-- Sort by Due Date Toggle Link -->
<% sort_direction = params[:sort] == "desc" ? "asc" : "desc" %>
<%= link_to "Sort by Due Date #{sort_direction == 'asc' ? '↓' : '↑'}", school_year_list_tasks_path(@school_year, @list, sort: sort_direction) %>

<ul>
  <% @tasks.each do |task| %>
    <li>
      <%= link_to task.title, school_year_list_task_path(@school_year, @list, task) %> |
      Due: <%= task.due_date %> |
      <%= link_to "Edit", edit_school_year_list_task_path(@school_year, @list, task) %> |
      <%= link_to "Delete", school_year_list_task_path(@school_year, @list, task), method: :delete, data: { confirm: "Are you sure?" } %>
    </li>
  <% end %>
</ul>

<!-- Updated Back to School Year button -->
<%= link_to "Back to Lists", school_year_path(@school_year) %>
